# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
publish/
release-assets/

# IDE
.idea/
*.sln.DotSettings.user

# Ignore build output directories (all target frameworks)
**/bin/
**/obj/

# Test run artifacts (e.g. XPlat Code Coverage output)
TestResults/
